<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/formupdate/<%=formupdate.id%>" method="POST">
        <label for="f_name">First name :<input type="text" name="f_name" id="f_name"
                value="<%=formupdate.f_name%>"></label><br>
        <label for="l_name">Last name :<input type="text" name="l_name" id="l_name"
                value="<%=formupdate.l_name%>"></label><br>
        <label for="email">Email :<input type="email" name="email" id="email" value="<%=formupdate.email%>"></label><br>
        <label for="message">Enter a message :<input type="text" name="message" id="message"
                value="<%=formupdate.message%>"></label><br>
        <input type="submit" value="Valider">
    </form>
</body>

</html>